* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #000000;
  max-width: 100%;
}

a {
  color: #ccc;
  font-weight: 600;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

a:hover {
  color: #ff5757;
  text-shadow: 0 0 7px rgb(231, 84, 84), 0 0 10px rgb(250, 112, 112),
    0 0 21px rgb(211, 80, 80), 0 0 42px rgb(240, 134, 102),
    0 0 82px rgb(224, 69, 121), 0 0 92px rgb(225, 41, 124), 0 0 102px #0fa,
    0 0 151px #0fa;
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 35px 0px;
  margin-top: 20px;
  justify-content: space-around;
}

#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

#menu a {
  display: block;
  padding: 0.5rem;
}

#set-mobile {
  display: none;
}

@media (max-width: 600px) {
  #set-mobile {
    display: block;
  }

  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 90px;
    right: 0px;
    height: 0px;
    padding-top: 30px;
    background: #000000;
    transition: 0.6s;
    visibility: hidden;
    overflow-y: hidden;
  }

  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  }

  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
  }

  #set-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    background: none;
  }

  #hamb {
    width: 20px;
    border-top: solid 2px #ffffff;
    display: block;
  }

  #hamb:hover {
    color: #ff5757;
    text-shadow: 0 0 7px rgb(231, 84, 84), 0 0 10px rgb(250, 112, 112),
      0 0 21px rgb(211, 80, 80), 0 0 42px rgb(240, 134, 102), 0 0 82px #0fa,
      0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
  }

  #hamb::after,
  #hamb::before {
    display: block;
    content: '';
    width: 20px;
    height: 2px;
    background: rgb(253, 253, 253);
    margin-top: 5px;
    transition: 0.4s;
    position: relative;
  }

  #nav.active #hamb {
    border-top: transparent;
  }

  nav.active #hamb::before {
    transform: rotate(135deg);
  }

  #nav.active #hamb::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}

.primary-info {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 200px;
}

.primary-info h1 {
  color: #e7e7e7;
  font-size: 80px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
}

.primary-write {
  width: 49rem;
  display: flex;
  flex-wrap: wrap;
}

p {
  font-family: 'Roboto', sans-serif;
}

.primary-write p {
  color: #e7e7e7;
  font-size: 30px;
}

.skills {
  height: 400px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.partSkills {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  height: 300px;
  align-items: center;
}

h2 {
  padding-top: 30px;
  text-align: center;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 600;
}

ul {
  list-style: none;
}

li img {
  display: flex;
  padding: 30px;
}

li p {
  display: flex;
  justify-content: center;
  width: 164px;
}

/* Config Slider */

.tns-nav {
  margin-top: -30px;
  text-align: center;
  align-items: center;
}

.tns-nav button {
  height: 13px;
  width: 13px;
  background-color: #a5a5a5;
  border: none;
  border-radius: 50%;
  margin-left: 7px;
}

.tns-nav .tns-nav-active {
  background-color: rgb(0, 0, 0);
}

/* Project */

.projects {
  background-color: #ffffff;
}

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 60px auto;
}

.card {
  width: 300px;
  height: 320px;
  margin: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #ffff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  transition: 0.3s;
}

.card-header {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.card-img {
  min-width: 100%;
  width: auto;
  height: 100%;
}

.card-body {
  width: 85%;
  height: 50px;
  padding: 15px;
  text-align: center;
  font-family: sans-serif;
}

.card-local {
  font-size: 16px;
  margin: 10px o;
}

.card-footer {
  margin-bottom: 20px;
  text-align: center;
  background-color: #000000;
  border: none;
  font-size: 13pt;
  width: 38%;
  height: 37px;
  border-radius: 8px;
}

.card-footer a {
  display: block;
  align-items: center;
  padding: 10px;
}

.card:hover {
  transform: scale3d(1.1, 1.1, 1);
}

/* Charlie About */

.aboutme {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 200px;
}

.container-text p {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  max-width: 300px;
}

.aboutme h1 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
}
